.App {
  text-align: center;
  height: 100%;
  width: 100%;
}
.parent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* //background: grey; */
}
.selected {
  background-color: green;
}
.footer {
  background-color: rgb(10, 4, 22);
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
  bottom: 0;
  color: honeydew;
}
.searchForm {
  height: 100%;
  width: 100%;
}
.list_parent {
  scroll-behavior: smooth;
  height: 80%;
  width: 100%;
}
